<footer class="bg-[#2A3262] text-white pt-16">
  <div class="max-w-7xl mx-auto px-4 flex flex-col gap-10 md:flex-row md:flex-wrap">
    <div class="w-full xl:w-[730px] lg:w-[550px] md:w-[500px] flex-none">
      <img src="/src/img/logo-white.svg" alt="Logo" class="mb-4" />
      <p class="text-base font-normal leading-[100%] w-full lg:w-[80%]">
        Pusat Studi Pendidikan dan Kebijakan adalah yayasan nonprofit independen yang berfokus pada penguatan kebijakan untuk membentuk ekosistem kebijakan pendidikan yang berpihak kepada anak
      </p>
    </div>
    <div class="w-full xl:w-[172px] md:flex-1 flex-none">
      <h4 class="text-base text-helvetica font-bold mb-6">Lebih Dekat</h4>
      <ul class="text-sm space-y-3">
        <li>
          <a href="#" class="flex items-center space-x-3">
            <img src="/src/img/ic-instagram.png" alt="" class="w-[20px] h-[20px]" />
            <span class="text-base font-normal">Instagram</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center space-x-3">
            <img src="/src/img/ic-linkedin.png" alt="" class="w-[20px] h-[20px]" />
            <span class="text-base font-normal">Linkedin</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center space-x-3">
            <img src="/src/img/ic-youtube.png" alt="" class="w-[20px] h-[14px]" />
            <span class="text-base font-normal">Youtube</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="w-full xl:w-[352px] flex-1">
      <h4 class="text-base text-helvetica font-bold mb-6">Kontak Kami</h4>
      <ul class="text-sm space-y-3">
        <li>
          <a href="#" class="flex items-start space-x-3">
            <img src="/src/img/ic-loc.png" alt="" class="w-[16px] h-[20.41px] mt-[2px]" />
            <span class="text-base font-normal">Jl. Melawai X No.9, RT 2/RW 6, Melawai, Kecamatan Kebayoran Baru, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta, Indonesia, 12160</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center space-x-3">
            <img src="/src/img/ic-email.png" alt="" class="w-[20px] h-[16px]" />
            <span class="text-base font-normal">partnership@pspk.id</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center space-x-3">
            <img src="/src/img/ic-phone.png" alt="" class="w-[20px] h-[14px]" />
            <span class="text-base font-normal">+62 811-8882-2610</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="bg-[#FFC65D] text-base text-[#353334] mt-15">
    <div class="max-w-7xl mx-auto px-4 py-4">&copy; 2025 Copyright by Tri Team. All rights reserved</div>
  </div>
</footer>
